<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.TakeControl">

    <application
        android:name="com.example.TakeControl.UI.ListaGlobal"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_saving"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_BRQ">
        <activity android:name="com.example.TakeControl.UI.DespesasActivity" android:theme="@style/Theme.Despesas"/>
        <activity android:name="com.example.TakeControl.UI.ReceitasActivity" android:theme="@style/Theme.Receitas"/>
        <activity android:name="com.example.TakeControl.UI.PrincipalActivity">

        </activity>
        <activity android:name="com.example.TakeControl.UI.LoginActivity" />
        <activity android:name="com.example.TakeControl.UI.CadastroActivity" />
        <activity android:name="com.example.TakeControl.UI.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>